body {
  font-family: "Rubik";
}
.navbar {
  border-bottom: solid 5px #009fe3;
  opacity: 0.6;
}
header {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/home.jpg);
  background-position: center;
  background-size: cover;
}
